.composite {
  background-color: #f7fbfe;
  margin: 24px 0;
  padding: 16px 24px;
}

.composite-container {
  display: flex;
  justify-content: space-between;
}

.composite-item {
  width: 33.33%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.composite-item__logo {
  width: 46px;
  height: 44px;
  margin: 0 16px;
}
