* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

/* .side-left {
  width: 50%;
  height: 100vh;
} */

.side-left__img {
  width: 50%;
  height: 100vh;
}

.side-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-right__container {
}

.side-right_form {
  margin-top: 24px;
}
